# Default ignored files
.idea
.nicegui
__pycache__
logs
build
dist
LanguageDecoder.spec
LanguageDecoder-lx.zip
*.json
*.pkl
*.txt
*.pfx
# Exceptions
!requirements.txt
!requirements-dev.txt
!prompt.txt
