[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nicegui = "<4.0.0"
fastapi = "<1.0.0"
chardet = "<6.0.0"
urllib3 = "<3.0.0"
fpdf2 = ">=2.8.5,<3.0.0"
httpx = "<1.0.0"
pyyaml = "<7.0.0"
openai = "<3.0.0"
deep-translator = "<2.0.0"
requests = "<3.0.0"


[dev-packages]
pyinstaller = "<7.0.0"
pywebview = "<7.0"

[requires]
python_version = "3.12"
