[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deep-translator = "*"
pyinstaller = "*"
fpdf2 = "*"
pip = "*"
wheel = "*"
setuptools = "*"
nicegui = "*"
openai = "*"
h11 = "==0.16.0"
pywebview = "==5.4"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
