[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deep-translator = "*"
fpdf2 = "==2.8.2"
openai = "*"
chardet = "*"
nicegui = "*"

[dev-packages]
pyinstaller = "*"
pywebview = "*"
qtpy = "*"
pyqtwebengine = "*"

[requires]
python_version = "3.12"
