VSVersionInfo(
    ffi=FixedFileInfo(
        filevers=(0, 8, 1, 0),
        prodvers=(0, 8, 1, 0),
        mask=0x3f,
        flags=0x0,
        OS=0x40004,
        fileType=0x1,
        subtype=0x0,
        date=(0, 0)
    ),
    kids=[
        StringFileInfo([
            StringTable(
                u'040904B0',
                [
                    StringStruct(u'CompanyName', u'PumucklRandom'),
                    StringStruct(u'ProductName', u'LanguageDecoder'),
                    StringStruct(u'InternalName', u'LanguageDecoder'),
                    StringStruct(u'OriginalFilename', u'LanguageDecoder'),
                    StringStruct(u'FileDescription', u'Decode a source text to a target language'),
                    StringStruct(u'FileVersion', u'0.8.1.0'),
                    StringStruct(u'ProductVersion', u'0.8.1.0'),
                    StringStruct(u'LegalCopyright', u'MIT License. Copyright (c) 2023 Pumuckl Random'),
                    StringStruct(u'Language', u'Language Neutral'),
                ]
            )
        ]),
        VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
    ]
)